body{
  background-image: url(https://presupuestos.com/blog/wp-content/uploads/decoracion-cocinas.jpg);
  background-size: 100% auto;
  background-position:center;
  background-attachment: fixed;
  color: white;
}
.grid-container{
  background-color: rgba(52, 88, 248, 0.5);
}
.cabezera-titulo{
  border: solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.textoblanco{
  color: white;
}
.contorno{
  border:1.5px solid white;
}
